from settings import INSTALLED_APPS

DEBUG = True
SERVE_MEDIA = DEBUG
TEMPLATE_DEBUG = DEBUG
EMAIL_DEBUG = DEBUG
THUMBNAIL_DEBUG = DEBUG

DEVELOPMENT_SITE = True

#DEBUG_PROPAGATE_EXCEPTIONS = False

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

INSTALLED_APPS = INSTALLED_APPS + (
    #'django_debug_toolbar',
    # 'django_extensions',
)

