<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <title>{% block title %}Excuses{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}styles/main.css">
</head>

<body>
    <div class="content">
        {% block page %}{% endblock %}
    </div>
    <footer>
        <p>&copy; <a href="http://ghickman.co.uk">George Hickman</a> 2012</p>
    </footer>
</body>
</html>

